# Python
__pycache__/
*.pyc

# Virtual Environment
.env/
venv/

# VS Code
.vscode/

# AWS Lambda Packages
*.dist-info/
*.egg-info/

# Secrets
.env

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

LAMBDA_PROJECT/*.zip
LAMBDA_PROJECT/*.dist-info/
LAMBDA_PROJECT/__pycache__/